###### Requirements without Version Specifiers ######

networkx
numpy
pathlib
sklearn
matplotlib

pandas
nltk

django
djangorestframework
django-tastypie
django-cors-headers

pycombo

###### Requirements with Version Specifiers ######
